html{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.form{
    padding: 80px;
    margin: 150px;
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    word-spacing: 14px;
    box-shadow:0 0 20px  #7df9ff;
}
 
#log button{
    margin: 10px 95px ;
    text-align: center;
    background-color: #7df9ff; 
    border: none;
    color: rgb(14, 13, 13);
    padding: 10px 20px;
    font-size: 16px;
}
#text{
 font-size: 2px;

}